<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>不如阿瓦</title>
    <script src="https://hack.chat/vendor/remarkable/remarkable.min.js"></script>
</head>
<body>
  <div id="main">
    <iframe id="music" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86></iframe>
    <br>
    <p id="text"></p>
  </div>
    <script src="static/js/script.js"></script>
</body>
</html>